[tool.poetry]
name = "mikro"
version = "0.1.72"
description = "images for arnheim"
authors = ["jhnnsrs <jhnnsrs@gmail.com>"]
license = "CC BY-NC 3.0"
packages = [{include = "mikro"}]

[tool.poetry.dependencies]
python = "^3.8"
herre="^0.1.68"
inflection = "^0.5.1"
zarr = "^2.11.1"
xarray = "^2022.3.0"
s3fs = "^2022.2.0"
pandas = "^1.3.4"
pyarrow = "^6.0.1"
dask = "^2022.2.1"
fakts = "^0.1.46"
turms = {version = "^0.2.3",python = ">=3.9"}
rath = "^0.1.28"
websockets = "^10.2"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-aiohttp = "^1.0.4"
pytest-cov = "^3.0.0"
black = "^21.12b0"
pydoc-markdown = "4.5.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[[tool.pydoc-markdown.loaders]]
type = "python"
search_path = [ "mikro" ]

[tool.pydoc-markdown.renderer]
type = "docusaurus"
docs_base_path = "website/docs"
