[tool.poetry]
name = "mikro"
version = "0.2.11"
description = "images for arnheim"
authors = ["jhnnsrs <jhnnsrs@gmail.com>"]
license = "CC BY-NC 3.0"
packages = [{include = "mikro"}]

[tool.poetry.dependencies]
python = "^3.8"
zarr = "^2.11.1"
xarray = "^2022.3.0"
s3fs = "^2022.2.0"
pandas = "^1.3.4"
pyarrow = "^6.0.1"
dask = "^2022.2.1"
turms = {version = "^0.2.3",python = ">=3.9", optional = true}
rath = "^0.2.8"
websockets = "^10.2"

[tool.poetry.extras]
turms = ["turms"]
complete = ["turms"]


[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-aiohttp = "^1.0.4"
pytest-cov = "^3.0.0"
black = "^21.12b0"
pydoc-markdown = "4.5.0"
pylint = "^2.12.2"
autoflake = "^1.4"
pytest-qt = "^4.0.2"
testcontainers = "^3.5.3"
PyQt5 = "^5.15.6"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
qt_api="pyqt5"
markers = [
    "integration: marks tests that require a running server",
    "qt: marks tests that require a running qt application",
]

[[tool.pydoc-markdown.loaders]]
type = "python"
search_path = [ "mikro" ]

[tool.pydoc-markdown.renderer]
type = "docusaurus"
docs_base_path = "website/docs"
