[tool.poetry]
name = "mikro"
version = "0.1.65"
description = "images for arnheim"
authors = ["jhnnsrs <jhnnsrs@gmail.com>"]
license = "CC BY-NC 3.0"
packages = [{include = "mikro"}]

[tool.poetry.dependencies]
python = "^3.8"
herre="^0.1.58"
docstring-parser = "^0.10"
inflection = "^0.5.1"
zarr = "2.8.3"
xarray = "^0.19.0"
s3fs = "^2021.9.0"
pandas = "^1.3.4"
pyarrow = "^6.0.1"
dask = "2021.11.2"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-aiohttp = "^0.3.0"
tox = "^3.24.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
